.container{
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

table {
  justify-content: center  ;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border: 2px solid #000 ;
}
th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}
th {
  background-color: #000000;
  color: #ffffff;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
.paginaton {
  margin-top: 20px;
  text-align: center;
}
button {
  align-items: center;
  
  margin: 0 5px;
  padding: 12px 18px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
}
button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.search {
  margin-bottom: 20px;
}
input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="text"]:focus {
  border-color: #000000;
  outline: none;
}


