body {
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-top: 20px;
}

/* FORM */
input {
  padding: 6px;
  margin: 4px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f4f4f4;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* BUTTONS */
button {
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.add-btn {
  background-color: #28a745;
  color: white;
}

.edit-btn {
  background-color: #ffc107;
  color: black;
}

.del-btn {
  background-color: #dc3545;
  color: white;
}
