.main-layout {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

.content main {
  flex: 1;
  padding: 2rem;
  background: #f9fafb;
}
